@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600&display=swap');
.DashAnalytics{
    width: 100%;
    height: 120px;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* overflow: hidden; */
}
.AnalyticsCont{
    width: 200px;
    height: 86%;
    /* background-color: blue; */
    border:2px solid rgb(173, 173, 173);
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 1px 1px 10px rgb(163, 163, 163);
}
.analyticsIcon{
    width: 43px;
    height: 43px;
    background-color: white;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    background-color: #7FCD93;
}
.analyticsIcon svg{
    margin: auto;
    font-size: 20px;
}

.analyticsTitle{
    width: 100%;
    height: 55px;
    background-color: 50%;
    /* background-color: white; */
    display: flex;
    /* flex-direction: column; */
    margin-top: 10px;
}
.titleStrip1{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: greenyellow; */
}
.contTitle{
    font-family: 'Lato', sans-serif;
    font-size: 11px;
}
.amount{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin-top: 5px;
}
.titleStrip2{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.titleStrip2 span{
    width: 50px;
    height: 25px;
    /* background-color: #7FCD93; */
    background: #E9F9EB;
    font-family: 'Figtree', sans-serif;
    display: flex;
    justify-items: center;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    margin-top: 23px;
}
.titleStrip2 span p{
    margin: auto;
    color: #4AD15F;
    font-size: 14px;
}

@media (max-width:1100px)
{
    .AnalyticsCont{
        width: 150px;
    }
    .amount{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        margin-top: 5px;
    }
    .titleStrip2{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .titleStrip2 span{
        width: 40px;
        height: 20px;
    }
    .titleStrip2 span p{
        margin: auto;
        color: #4AD15F;
        font-size: 12px;
    }
}

@media (max-width:800px) {
    .DashAnalytics{
        flex-wrap: wrap;
    }
    .AnalyticsCont{
        width: 200px;
        margin-top: 10px;
    }
}